<div class="flex flex-col sm:flex-row">
  <div *ngFor="let contact of contacts" class="flex flex-col items-center sm:items-start {{isVertical ? '' : 'sm:flex-row sm:justify-between w-full'}} contact-wrapper">
    <a [href]="contact.locationUrl" class="flex text-white text-sm sm:pr-lg" [class.mb-lg]="isVertical" [class.text-lg]="isLarge" target="_blank">
      <span class="mr-md flex items-center">
        <mat-icon [class.large-icon]="isLarge" class="text-icon" aria-label="map-location">location_on</mat-icon>
      </span>
      <span>{{ contact.address }}, {{ contact.district }}</span>
    </a>

    <a [href]="'tel:' + contact.phone" class="flex items-center text-white text-sm sm:pr-lg" [class.mb-lg]="isVertical" [class.sm:text-lg]="isLarge" >
      <span class="mr-md flex items-center">
        <mat-icon [class.large-icon]="isLarge" class="text-icon" aria-label="phone call">call</mat-icon>
      </span>
      <span>{{contact.phone}}</span>
    </a>

    <a [href]="'mailto:' + contact.mail" class="flex items-center text-white text-sm" [class.text-lg]="isLarge">
      <span class="mr-md flex items-center">
        <mat-icon [class.large-icon]="isLarge" class="text-icon" aria-label="send e-mail">mail</mat-icon>
      </span>
      <span>{{ contact.mail }}</span>
    </a>
  </div>
</div>

