<footer class="main-wrapper bg-indigo py-lg flex flex-col md:flex-row md:justify-between ">
  <a [routerLink]="appRoutes.home" class="flex justify-center items-center mb-lg md:mb-0 md:mr-lg">
    <img class="logo-img" src="../../../assets/img/banda-tuning-workshop.png" alt="bndservice logo" />
  </a>

  <div class="flex items-center justify-center mb-xl md:mb-0 md:mr-lg flex-0 lg:flex-1">
    <app-contacts></app-contacts>
  </div>

  <div class="flex items-center justify-center mb-lg md:mb-0">
    <a *ngFor="let soc of contacts.socials" [href]="soc.url" target="_blank" class="mr-lg last:mr-0 flex items-center">
      <mat-icon [svgIcon]="soc.icon" class="social-icon text-white" aria-label="social link"></mat-icon>
    </a>
  </div>
</footer>
