.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  height: auto;
}
/* custom */
.logo-img {
  height: 64px;
  width: auto;
}

.text-icon {
  width: auto !important;
  height: auto !important;
  font-size: 30px;
}

.fixed-header {
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  position: fixed !important;
  z-index: 999 !important;

}
