.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  height: auto;
}
/* custom */
.logo-img {
  height: 64px;
  width: auto;
}

.text-icon {
  width: auto !important;
  height: auto !important;
  font-size: 30px;
}
.menu-item img {
  height: 40px;
}
