<mat-sidenav-container>
  <mat-sidenav
    #drawer
    fixedInViewport
    mode="over"
    position="end"
    class="sidenav"
    [class.hidden]="!(isHandset$ | async)"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  >
    <h5 class="text-xl text-center font-bold p-md">Меню</h5>
    <mat-nav-list>
      <a
        *ngFor="let page of navigationMenu"
        class="flex items-center p-lg flex justify-center text-xl"
        [routerLink]="['/']"
        [fragment]="page.link"
        [innerHTML]="page.innerHtml"
        (click)="drawer.toggle()"
      ></a>
      <mat-list-item>
        <div class="flex justify-around w-full mt-lg">
          <a *ngFor="let soc of contacts.socials" [href]="soc.url" target="_blank" class="mr-md flex items-center last:mr-0">
            <mat-icon [svgIcon]="soc.icon" aria-label="social link"></mat-icon>
          </a>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" role="heading" class="main-wrapper fixed-header toolbar-header" [style.height.px]="HeaderHeight">
      <a [routerLink]="appRoutes.home" class="p-0">
        <img class="logo-img" src="/assets/img/vag-banda-tuning-workshop.png" alt="bndservice logo" />
      </a>

      <span style="flex: 1 1 auto"></span>

      <div class="flex mr-lg">
        <a [href]="contacts.locationUrl" class="flex text-white text-sm mr-lg" target="_blank">
          <span class="mr-md flex items-center">
            <mat-icon class="text-icon" aria-label="map-location">location_on</mat-icon>
          </span>

          <span class="flex flex-col" *ngIf="!(isHandset$ | async)">
            <span>{{ contacts.address }},</span>
            <span>{{ contacts.district }}</span>
          </span>
        </a>

        <a [href]="'tel:' + contacts.phone" class="flex items-center text-white text-sm">
          <span class="mr-md flex items-center">
            <mat-icon class="text-icon" aria-label="phone call">call</mat-icon>
          </span>
          <span *ngIf="!(isHandset$ | async)">{{contacts.phone}}</span>
        </a>
      </div>
      <div class="flex" *ngIf="!(isHandset$ | async)">
        <a *ngFor="let soc of contacts.socials" [href]="soc.url" target="_blank" class="mr-md flex items-center last:mr-0">
          <mat-icon [svgIcon]="soc.icon" class="text-white" aria-label="social link"></mat-icon>
        </a>
      </div>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>

    <div [style.margin-top.px]="HeaderHeight"></div>
    <mat-toolbar *ngIf="!(isHandset$ | async)">
      <nav class="flex justify-around items-center w-full py-md">
        <a
          *ngFor="let page of navigationMenu"
          mat-button
          color="primary"
          class="font-bold text-lg menu-item"
          [routerLink]="'/'"
          [fragment]="page.link"
          [innerHTML]="page.innerHtml"
        ></a>
      </nav>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
