<article *ngIf="category" class="md:flex-row justify-between items-center pb-xl">
  <div class="mb-lg md:mb-xl">
    <div class="image" [style.background-image]="'url(assets/categories/' + category.mainImage + '.jpg)'"></div>
  </div>

  <div class="main-wrapper flex flex-col md:flex-row md:justify-between">
    <div class="mr-0 md:mr-lg">
      <div class="text-lg text-gray-500 mb-md" [innerHTML]="category.description.main"></div>
    </div>

    <div class="feedback-form">
      <div #feedbackForm>
        <app-feedback-form [outline]="true"></app-feedback-form>
      </div>
    </div>



  </div>
  <div class="flex justify-center items-center mt-xl" *ngIf="!(isHandset$ | async)">
    <h4 class="text-center text-2xl">
      <a [routerLink]="'/' + AppRoutes.contacts" class="text-accent font-bold">Оставьте заявку</a><br />и получите
      консультацию специалиста бесплатно!
    </h4>
  </div>
</article>
