.block-wrapper {
  background: none;
  min-height: 333px;
}

@media only screen and (min-width: theme('screens.md')) {
  .block-wrapper {
    background: url("src/assets/img/services-template.jpeg") right center no-repeat;
    background-size: 100%;
  }
}
@media only screen and (min-width: theme('screens.lg')) {
  .block-wrapper {
    background-size: 80%;
  }
}
@media only screen and (min-width: theme('screens.xl')) {
  .block-wrapper {
    background-size: 60%;
  }
}
@media only screen and (min-width: theme('screens.2xl')) {
  .block-wrapper {
    background-size: 47%;
  }
}
