@import '~@angular/material/theming';

@include mat-core();
//Желтый fff343
//Салатовый d0dc4e
//Голубой 4d6d9c
//Синий 435473
//Темно-синий 313c53
//
$bnd-deep-blue: (
  50: #777c8d,
  100: #777c8d,
  200: #777c8d,
  300: #777c8d,
  400: #40434e,
  500: #40434e,
  600: #40434e,
  700: #40434e,
  800: #232836,
  900: #232836,
  A100: #777c8d,
  A200: #40434e,
  A400: #40434e,
  A700: #232836,
  contrast: (
    50: #ffffff,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: #ffffff
  )
);

$bnd-green: (
  50: #97ae3c,
  100: #97ae3c,
  200: #97ae3c,
  300: #97ae3c,
  400: #668000,
  500: #668000,
  600: #668000,
  700: #668000,
  800: #385300,
  900: #385300,
  A100: #97ae3c,
  A200: #668000,
  A400: #668000,
  A700: #385300,
  contrast: (
    50: #ffffff,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: #ffffff
  )
);
$bnd-red: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: #ffffff,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: #ffffff
  )
);
//668000
$bnd-primary: mat-palette($bnd-deep-blue, 600, 100, 700, 400);
$bnd-accent: mat-palette($bnd-green, 400, 100, 700, 400);
$bnd-warn: mat-palette($bnd-red, 500);

$bnd-theme: mat-light-theme(
  (
    color: (
      primary: $bnd-primary,
      accent: $bnd-accent,
      warn: $bnd-warn,
    )
  )
);

@include angular-material-theme($bnd-theme);
