@import '~normalize.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.text-primary {
  @apply text-indigo;
}
.text-accent {
  @apply text-green;
}

.main-wrapper {
  @apply px-md !important;
}

/* MD and higher */
@media only screen and (min-width: theme('screens.md')) {
  .main-wrapper {
    @apply px-xl !important;
  }
}

/* exclusions */
.mat-focused .mat-form-field-required-marker {
  color: #f44336;
}
.mat-drawer-container {
  background: #ffffff;
}
